image:
  repository: ghcr.io/bcgov/backup-container
  pullPolicy: IfNotPresent
  tag: 2.10.3

backupConfig: |
  postgres=sso-patroni:5432/ssokeycloak

  0 1 * * * default ./backup.sh -s
  0 4 * * * default ./backup.sh -I -v all

db:
  secretName: "sso-patroni"
  usernameKey: "username-superuser"
  passwordKey: "password-superuser"

env:
  DATABASE_SERVICE_NAME:
    value: "postgres"
  ENVIRONMENT_FRIENDLY_NAME:
    value: "SSO DB Backups"
  SSO_PATRONI_PASSWORD:
    existingSecret:
      name: "sso-patroni-appusers"
      key: "password-appuser1"
  SSO_PATRONI_USER:
    existingSecret:
      name: "sso-patroni-appusers"
      key: "username-appuser1"
# use the following syntax to wire-up an existing secret
# EXISTING_DEPLOYMENT_PASSWORD:
#   existingSecret:
#     name: "existing-secret-name"
#     key: "existing-secret-key"

persistence:
  backup:
    size: 5Gi
    mountPath: /backups/
    storageClassName: netapp-file-backup
    storageAccessMode: ReadWriteOnce
  verification:
    size: 2Gi
    mountPath: /var/lib/pgsql/data
    storageClassName: netapp-block-standard
    storageAccessMode: ReadWriteOnce
