/*
* Overrides to the default Orbeon styling.
* This file and the forms.css referenced by GOV rendering engine should remain in sync at all times, so that forms display consistently.
*/

.orbeon .container.fr-mode-edit {
	width: 100% !important;
}

.orbeon .span12 {
	width: 100% !important;
	margin: 0 !important;
}

.orbeon .fr-view {
	padding: 0 !important;
}

.orbeon .navbar {
	display: none;
}

.orbeon .row {
	margin: 0 !important;
}

.orbeon h2.fr-section-title {
	margin: 0 !important;
}

.orbeon .tooltip-inner {
	min-width: 100px;
	text-align: left !important;
}

.orbeon .fr-form-description {
	display: none;
}

.orbeon .xbl-fr-grid {
	margin-bottom: 0 !important;
}

.orbeon .xbl-bcgov-captcha .container, .orbeon .xbl-bcgov-captcha .container .span9{
    width: auto;
    margin-left: 0 !important;
}

.orbeon .fr-captcha .xbl-bcgov-captcha{
	text-align: left;
}

.orbeon .fr-captcha .xforms-label{
	display:none;
}
.orbeon #o0fr-view{
	width: auto;
}
