html, body {
	height: 100%;
}

body {
	font-family: 'BC Sans', 'Noto Sans', Arial, 'sans serif';
	background-color: #f1f1f1;
	color: #313132;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	color: #1a5a96;
}

h1, h2, h3, h4, h5 {
	color: #313132;
	font-weight: 600;
	line-height: 1.2em;
	margin-bottom: 0.5em;
}

h1 {
	font-size: 2.074em;
	margin-top: 0;
}

h2 {
	font-size: 1.728em;
	margin-top: 0.75em;
}

h3 {
	font-size: 1.44em;
	margin-top: 0.75em;
}

h4 {
	font-size: 1.2em;
	margin-top: 0.75em;
}

.row {
	margin: 0;
}

/*RA-698 - This is a fix to force the iframe parent to impose a scroll on the iframe*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.iframe-events-embed .embed-responsive, .iframe-embed .embed-responsive {
	  -webkit-overflow-scrolling: touch !important;
	  overflow-y: scroll !important;
	}
}

ul.inline {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

ul.inline li {
	float: left;
	padding: 2px 10px;
	position: relative;
}

ul.inline li a:link, nav ul.inline li a:visited {
	color: white;
	display: block;
	text-align: center;
}

@media ( min-width : 768px) {
	ul.inline li+li {
		border-left: 1px solid #4b5e73;
	}
}

.iframe-video-embed, .iframe-video-embed>iframe {
	max-width: 100%;
}

.iframe-map-embed, .iframe-map-embed>iframe {
	max-width: 100%;
}

.iframe-visualization-embed, .iframe-visualization-embed>iframe {
	max-width: 100%; 
}

/* ALERT CUSTOMIZATIONS */
.alert-success {
    color: #2d4821;
}

.alert-warning {
    color: #6c4a00;
    background-color: #f9f1c6;
}

.alert-danger {
    color: #a12622;
}

.alert-information {
    background-color: #D9EAF7;
}


#feedback-form textarea{	
	height: 160px;
	width:100%;
}

#feedback-form input#return-contact-email{
	width: 100%;	
}

#contact-submit{
	float:right;
	background-color: #39598C;
    border: 0 none;
    border-radius: 0;
    margin: 0 5px;
    width: 40%;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    margin: 5px 0;
}

#inline-contact-form{
	margin: 0 10px 10px 10px;
	overflow:hidden;
	display:none;


