div.alignCenter {
	text-align: center;	
}

div#highlightKeywordFloatingBar {
	bottom: 0px;
	border: solid 1px #cccccc;
	background: #e5e5e5;
	z-index: 100;
    font-size: 16px;
}

div.highlightFeedbackForm {
    padding-left: 30px;
    padding-right: 30px;
}

div#highlightKeywordFloatingBar .btn-primary {
	background-color: #39598C;
	border: 0 none;
	border-radius: 0;
	text-decoration: none;
	line-height: 25px;
	margin: 5px;
	font-size: 16px;
}

.btn-primary.btn-yes,
.btn-primary.btn-no {
	width: 100px;
/* 	width: 30%; */
}

div#highlightFeedbackButtons {
	display: inline-block;
/* 	margin-left: 20px; */
/* 	width: 60%; */
}

div.highlightQuestionMessage{
	margin-top:10px;
	display: inline-block;
	margin-left: 5px;
}

div.highlightFeedbackLink{
	text-align: right;
	margin-top: 10px;
}

div.highlightFeedbackLink a{
	color: #494949;
	text-decoration:underline;
}

div#highlightKeywordFloatingBar .btn-primary.disabled {
	background-color: grey;	
}

div.highlightTextMessage {
	font-weight: bold;
	padding-bottom: 3px;
}

div#highlightReturnToSearchResults a {
	text-decoration: underline;	
}

.closeHighlightBarIcon {
	color: white;
	background-color: grey;
	padding: 4px;
	opacity: 0.65;
	font-weight: 200;
}

.feedbackForm {
    padding: 10px 0;
}

a#close-feedback-box {
	float: right;
    margin-top: -37px;
    text-decoration: underline;
}

.required{
	color:red;
}

.highligh-required{
	border: 2px red solid;
}

#contact-submit-container {
	clear: both;
	text-align: right;
}

#contact-submit-container > input#contact-submit {
	width: auto;
}	

.feedback-reasons {
	display: inline-block;
	text-align: left;
	padding: 20px;
}

.feedback-reasons > .radio input[type=radio] {
	margin-top: 0;
	height: 100%;
	vertical-align: middle;
}

@media (max-width: 990px) {	
	.btn-primary.btn-yes, 
	.btn-primary.btn-no {
		width: 66px;
	}
}

@media (max-width: 767px) {	
	div.highlightFeedbackForm {
	    padding: 10px 5px;
	}	
	
	div.highlightQuestionMessage,
	div#highlightFeedbackButtons,
	div.highlightFeedbackLink {
		display: block;
		text-align: center;
		margin: 0;
	}
	
	#contact-submit-container {
		margin-top: 20px;
	}	
	
	#contact-submit-container > input#contact-submit {
		width: 100%;
	}			
}