/*This is a global style that will remove the side padding.*/

a#sf-featured-services-header-collapse-control {
	color: inherit;
	text-decoration: none;
}

a#sf-featured-services-header-collapse-control:hover {
	color: inherit;
	text-decoration: none;
}

/*
 *	For forcing side-by-side divs to the same height
 *	cf: https://stackoverflow.com/a/2997838
 */
.column-same-height-container {
	overflow: hidden;
	min-height: 75vh;
}

@media (min-width: 768px) {
	.column-same-height {	
		padding-bottom: 100%;
		margin-bottom: -100%;
	}
}

div.sf-content-body .result_item span.result_item_title {
    text-decoration: inherit !important;
    font-weight: bold;
    font-size: 23px;
    line-height: 23px;
    max-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 10px !important;
}

.sf-no-pad {
	padding-left: 0px;
	padding-right: 0px;	
}

div.sf-content-body {
	padding-left: 0px;
	padding-right: 0px;
}

div.sf-container{
	padding-left: 0;
	padding-right: 0;
	background-color: #ffffff;
	padding-bottom: 0px !important;
}

.sf-featuredServices {
}
	
.sf-contentHeader {
	padding-left: 12px;
	padding-right: 12px;
}


/*================================================
	Search Service Finder Refine element styles
================================================*/

img.sf-featured-services-dummy-img {
	max-width: 95%;
	display: block;
	margin-left:auto;
	margin-right:auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

div#searchResultBody {
	padding: 20px 20px 0px 20px;
}

div.resultsBanner {
    background-color: #eaeaea;
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    text-color: #000;
    font-weight: bold;
    color: #000;
    margin-top: 12px;
}

a#clearSearchTerms {
	white-space: nowrap;
}

.ss-gac-m {
	line-height: 11px !important;
}

span.result_item_title {
	padding-bottom: 12px;
}

span.number_results_display {
	font-size: 24px;
	font-weight: bold;
}

span.clearSearchTerms.bold {
    font-weight: bold;
}

div.sf-query-filter {
	padding-top: 20px;
}

span.selectedFacetTitle, span.searchTerms {
    font-weight: bold;
    color: #1a5a96;
}

div#refine-search {
    background-color: #003366;
    padding-left: 0px;
    padding-right: 0px;
}

div.sf-refine-search-heading {
    padding: 12px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

div.sf-refine-search-heading a {
	text-decoration: none;
	color: #fff;
}

div.sf-refine-search-heading span.sf-refine-search-control-glyph {
	float: right;
	color: #fff;
}

div.sf-facet-container-heading {
	padding: 12px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}

div.sf-facet-container-heading a {
	text-decoration: none;
	color: #fcba19;
}

div.sf-facet-container-heading span.sf-facets-control-glyph {
	float: right;
	color: #fff;
}

div#facet-nav {
	background-color: #003366;
	padding-left: 0px;
	padding-right: 0px;
}

.facet-container {
	padding-left: 0px;
	padding-right: 0px;	
}

/*Facet Elements*/

.sf-facet-group-container {
    padding-bottom: 20px;
}

.facet-container-heading h4.sf_facet-container-title {
	text-transform: uppercase;
	color: #fcba19;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 10px 0 !important ;
	padding: 20px 0 5px 22px;
}

.sf-facet-group-heading i.sf-facet-group-title {
	text-decoration: none;
	text-align: left;
	font-style: normal;
	margin-top: 0px !important;
	margin-bottom: 6px !important;
	margin-left: 5px;
	font-size: 16px;
    color: #FFF;
    font-family: inherit;
    line-height: 1.1;
    display: block;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-bottom: 3px;
}

.sf-facet-group-title {
	border-bottom: solid 1px #b0b0b0;
	padding-left:12px;
	padding-right:5px;
}

.sf-facet-group-heading {
    padding: 5px 10px 0px 10px;
    background-color: #003366;
}

.sf-facet-group-heading i.sf-facet-group-title span.sf-facet-control-glyph {
	float: right;
}
.sf-facet-pagination-controls {
	font-size: 16px;
	background-color: #494949;
	text-align: center;
	padding: 8px;
	margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
}
.sf-facet-control-glyph {
	font-size: 80%;
	margin-top: 0px;
	padding-left: 5px;
}
a.sf-facet-pager {
	text-decoration: none;
	color: #fff;
}
a.sf-facet-pager .glyphicon {
	font-weight: 100;
}
a.sf-facet-pager:hover {
	color: #fff;
}
a.sf-facet-pager-more {
	margin-right: 15px;
}

ul.sf-list-group{
	list-style-type: none;
	padding-left: 0px;
	margin: 0;
}

a.sf_facet_label {
	color: #ffffff;
	padding-top: 7px;
}

div.sf_facet_name {
	padding-left: 10px;
	padding-top: 2px;
	color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

a.sf_facets:hover, a.sf_facets_selected:hover {
	text-decoration:none;
}

div.sf-facet-items li:hover {
	background-color: #5475a7;
}

.sf-list-group .sf_facet {
	padding: 6px 10px 6px 10px;
}

span.sf_check {
	background-color: #fcba19;
	color: #1a5a96;
	padding: 1px 3px 3px 1px;
	border-radius: 12px;
	width: 22px;
	display:block;
	float:left;
	 -webkit-text-stroke: 2px #fcba19;
    font-size: 18px;
}

span.sf_plus{
	background-color: #ffffff;
	color: #1a5a96;
	padding: 1px 19px 4px 4px;
	border-radius: 12px;
	width: 22px;
	display:block;
	float:left;
	 -webkit-text-stroke: 2px white;
    font-size: 18px;
}

/*Refine Elements*/

hr.sf {
	margin: 0 10px 0 10px;
	border: none;
	height: 2px;
	color: #dedede;
	background-color: #dedede;
}

div.refine-object {
	margin: 0 20px 30px 20px;
	color:#ffffff;
}


div.refine-input {
	position: relative;
	/*
	border: 1px solid;
	border-radius: 40px;
	height: 40px;
	*/
}

div.refine-input .glyphicon {
    position: absolute;
    padding: 10px;
    /*
    pointer-events: none;
    */
    left: 0px;
    top: 2px;
}

div.refine-input .glyphicon:hover {
	cursor: pointer;
}


input.sf_refine_input{
	color: #ffffff;
	background-color:#003366;
    border: 1px solid;
    border-radius: 40px;
    height: 40px;
    padding-left: 35px;
    padding-right: 15px;
    width: 100%;
}

input.sf_refine_input:focus {
	outline: none !important;
}

.refine-input ::placeholder{
	color:#ffffff;
}

#sf_facet-container-heading {
	background-color: #003366;
}

.sf-facet-panel {
	background-color: #003366;
}

div.facet-container-heading table.search-suggestion-full {
	color: #000;
	width: 70%;
}

/*=============End Refine Definitions=============*/




/*================================================
	Search Service Result element styles
================================================*/

div.featuredServices {
    margin-top: 44px;
}

div.sf-featured-service-container-collapse {
	background-color: #fff;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;	
	padding-left: 12px;
	padding-right: 12px;
}

div.featuredServices span.sf-featured-services-control-glyph {
	float: right;
}

span.sf-featured-services-header {
    font-size: 24px;
    font-weight: bold;   
}

span.sf-popular-services-header {
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 8px;
}

div.sf-featured-services-header-container {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: #eaeaea;
}

div.popularServices {
	margin-top: 10px;
}

div.sf-popular-service-label {
	margin-bottom: 6px;	
}

div.sf-popular-services-link-container {
	padding-left: 2px;
	padding-right: 2px;
}

a.sf-popular-service-link {
    text-decoration: underline;
}

a.sf-popular-service-link:hover {
	color: #00F;
}

div#sf-results-header {
    margin-left: 15px;
    margin-right: 15px;
}

div#search_result table#obj td {
	border: solid 1px #e0e0e0;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

div#search_result table#obj tr:last-of-type td {
	border-bottom: inherit;
}

div.result_item_content {
	padding-left: 15px;
}

div.result_item_description {
	margin-bottom: 0px !important;
}

#result .snippet {
	padding-bottom: 0px !important;
}

#result .snippet, #result .description {
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
}

ul.sf-result-chapter-list {
 	list-style-type: none;
 	padding-left: 10px;
    padding-right: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}
 
li.sf-result-chapter-list-item {
 	border-bottom: 1px solid #e0e0e0;
 	padding-top: 5px;
    padding-bottom: 5px;
}
 
li.sf-result-chapter-list-item:last-of-type {
    border-bottom: none;
}
 
li.sf-result-chapter-list-item a {
 	background-color: #f0f0f0;
 	text-decoration: none;
}
 

 
li.sf-result-chapter-list-item a, li.sf-result-chapter-list-item a.visited{
	color: #494949;
}

span.sf-result-chapter-arrow{
	float:right;
	color:#128ec3;
	font-size: x-small;
	margin-top: 2px;
	padding-right: 15px;
}

/*=============End Result ItemDefinitions=============*/

div.sf-featured-services-item-container {
    margin-top: 10px;
}

div.sf-featured-services-item {
	padding: 5px;
}

div.sf-featured-services-item img.service-image {
	width: 100%;
	max-height: 160px;
}

div.service-overview {
	border: 1px solid #e0e0e0;
}

#sf_records{
	margin-top:30px;
}

#sf_records .records_with_related, #sf_records .records{
	padding-right:15px;
}

#sf_records #records_with_related, #sf_records .records{
	margin-bottom:15px;
}

#sf_record{
	background-color: #f1f1f2;
	padding:15px;
}

